*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    color: #333;
    margin: 0;
    padding: 80px;
    background: linear-gradient(135deg, #f5f7fa 0%,rgb(226, 195, 224) 100%);
}

h1 {
    font-size: 2.5rem;
    color:rgb(241, 132, 214);
    text-align: center;
}   


h1, h3 {
    color: #e96bd0;
    text-align: center;
}   


.blc{
    font-size: 1.1em;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #2c3e50;
}

input[type="text"],
textarea {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    background-color:rgb(219, 52, 197);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.success-message {
    background: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    margin-bottom: 50px;
    margin-top: 20px;
}

.error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
}